NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
NODEMAILER_EMAIL=tejaswiravurimm@gmail.com
NODEMAILER_PASSWORD=dsam givc ltaa ykbg
SMTP_FROM="DNA Mitigation <tejaswiravurimm@gmail.com>"

ADMIN_EMAIL=daronkeet@mac.com

